div {
  column-count: 3;
  height: 100px;
}

h1
{
column-span:all;
}
.newspaper {
  column-count: 3;
  column-gap: 40px;
  column-rule: 4px double #ff00ff;
}

.newspaper1 {
  column-fill: auto;
}


.newspaper2 {
  column-count: 3;
  column-gap: 40px;
}
