div
{
width:100px;
height:100px;
background :green;
transition: width 2s, height 4s,transform 2s;

}

div:hover
{
width:200px;
height :100px;
transform : rotate(360deg);
/*transform : rotate(90deg);*/
/*transform : rotate(180deg);*/
}

